* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

carousel-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

carousel-item {
  transition: transform 0.5s ease;
}

.img-link img {
  height: 24rem;
  width: 30rem;
  object-fit: cover;
}

.img-link1 img {
  height: 30rem;
}

.img-link2 img {
  height: 16rem;
}

.img-link3 img {
  height: 24rem;
}
